nav a {
    color: white;
    text-decoration: none; 
    margin: 0 45px; 
    padding: 5px 20px; 
    font-size:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover {
    background-color: gray; 
    border-radius: 5px;
 }

 #one{
   
    border-radius: 10px;
    height: 420px;
    width:800px;
    margin:0px 0px 0px 40px;

 }

     span{
        font-style: italic; 
    font-size: 35px;} 
 #main{
    height: 450px;
    width:100%;
    display: flex;


 }
 body{
    background-color: black;
 }

 .food{
   margin:0px 45px;
   transition-property: transform;
   transition: ease-in-out,1s;
   

 }

 .food:hover{
     transform:scale(1.1) ;


 }

 #coffee{
    padding-left: 60px;
 }
 .container {
 display: flex;
 flex-wrap: wrap; 
 justify-content: space-around;
 }

.item {
display: flex; 
 flex-direction: column;
 align-items: center;
 margin: 10px; 
 text-align: center;
 transition-property: transform;
   transition: ease-in-out,1s;

 
 }

.item img {
 width:320px ;
 height:400px ;
}
.item:hover{
    transform:scale(1.1) ;
}
#about{
    padding-left: 15px;;
}

.contact-container {
width: 80%; 
margin: 20px auto;
padding: 20px;
background-color: #fff;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.contact-info {
display: flex; 
flex-wrap: wrap; 
justify-content: space-around; 
}

.contact-item {
margin-bottom: 10px; 
text-align: center; 
flex: 1 0 200px;

}

.contact-item a {
color: #333;
text-decoration: none;
}

.contact-item i {
margin-right: 5px; 
}